SERVER_ENV="development"
DATABASE_URL="postgresql://guildkit:guildkit@localhost:5432/guildkit?schema=public"
# Base URL of the app
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="REPLACE_ME_ON_PRODUCTION_1C9g6nL"

GOOGLE_CLIENT_ID="REPLACE_ME_ON_PRODUCTION"
GOOGLE_CLIENT_SECRET="REPLACE_ME_ON_PRODUCTION"
GITHUB_CLIENT_ID="REPLACE_ME_ON_PRODUCTION"
GITHUB_CLIENT_SECRET="REPLACE_ME_ON_PRODUCTION"

# Storage config
#STORAGE_BUCKET="guildkit" # Not required in local environment
AWS_ACCESS_KEY_ID="guildkit"
AWS_SECRET_ACCESS_KEY="guildkit"
#CLOUDFLARE_ACCOUNT_ID="" # Required for Cloudflare R2; Not required in local environment

# Only required on servers (including previews)
#NEON_API_KEY="REPLACE_ME_ON_SERVERS"
