---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import heroImage from "@assets/images/hero.png";
---

<section class="hero my-24">
  <div class="container">
    <div class="flex items-start gap-16 w-fit">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-left text-nowrap text-6xl md:text-left lg:text-8xl">
          Build your own<br />
          <span class="text-gradient">Job Portal</span>
        </h1>
        <div class="flex flex-col items-center gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://github.com/guildkit/guildkit">
            <Icon name="lucide:view" />
            Watch on GitHub
          </a>
          <div class="font-bold">
            Coming soon
          </div>
          <!--
          <a class="button has-icon color-secondary" href="https://accessible-astro.incluud.dev/">
            <Icon name="lucide:bookmark" />
            Read the docs
          </a>
          -->
        </div>
      </div>
      <Image class="hidden lg:block drop-shadow-2xl" src={heroImage} alt="" decoding="async" height={480} loading="eager" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
