---
import { Image } from "astro:assets";

/**
 * Logo Component
 * @description Logo description
 */
type Props = {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: "eager" | "lazy";
};

const { loading = "eager" }: Props = Astro.props;
---

<a href="/" class="flex items-center gap-4 !no-underline">
  <Image src="https://tmp.guildkit.net/canvaai/guildkit_icon_tmp.png" alt="" width={64} height={64} loading={loading} />
  <span class="font-bold text-3xl">GuildKit</span>
</a>

<style lang="scss">
  a {
    color: var(--foreground-color);
  }
</style>
